.sample {
  box-sizing: border-box;
  display: block;
  outline: none; /* 获得焦点时, 不显示虚线框 */
  vertical-align: center; /* 行内垂直方向对齐方式 */
  transition: all 0.5s; /* 过渡效果 */
  transform: translate(100px, 100px) scale(1.1) rotate(90deg);
  transform-origin: right bottom; /* 设置旋转的原点 */
  opacity: 0.5; /* 透明度 */
  cursor: pointer;
}

.bgp {
  background-position: 50px 0; /* 只写一个数字表示水平方向, 垂直方向居中 */
  background-image: url(bpg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.div-box {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.left-box {
  width: 155px;
  height: 500px;
  background-color: red;
  float: left;
}

/* 弹性容器 */
.right-box {
  width: 645px;
  height: 500px;
  background-color: lightgray;
  float: right;
  display: flex;

  /* 主轴换向后, 可设置垂直居中 */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */

  /* 单行时对齐位置, 上中下, 可设置水平居中 */
  /* align-items: flex-start; */
  /* align-items: center; */
  /* align-items: flex-end; */

  /* flex-direction: column; 主轴方向, 默认 x 轴 */
  flex-wrap: wrap; /* 弹性盒子换行 */

  /* 多行时, 调整行对齐方式, 单行不生效 */
  align-content: space-between;
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-content: center; */
}

/* 弹性盒子 */
.right-box > div {
  list-style: none;
  width: 150px;
  height: 240px;
  background-color: green;
}

.right-box > div:nth-child(n + 5) {
  background-color: blue;
  /* flex: 1; 设置该盒子占用剩余空间 */
  align-self: center; /* 设置该弹性盒子侧轴居中 */
}

/* 位移实现水平居中 */
.center-sample {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
