#App {
  width: 100%;
  height: 100%;

  #canvas {
    width: 75%;
    height: 100%;
    float: left;

    // 网格背景
    background-image: linear-gradient(90deg, hsla(0, 0%, 78.4%, .15) 10%, transparent 0), linear-gradient(hsla(0, 0%, 78.4%, .15) 10%, transparent 0);
    background-size: 10px 10px;
  }

  #properties {
    width: 25%;
    height: 100%;
    float: right;
  }

  .bpmn-icon-task {
    /*display: none;*/
    color: #cc0000 !important;
  }
}
