#App {
    display: flex;
    position: relative;

    #canvas {
        width: 100vw;

        /* 网格背景 */
        background-image: linear-gradient(90deg, hsla(0, 0%, 78.4%, .15) 10%, transparent 0), linear-gradient(hsla(0, 0%, 78.4%, .15) 10%, transparent 0);
        background-size: 10px 10px;
    }

    #properties-panel {
        position: absolute;
        right: 0;
        height: 100vh;
        background-color: white;
    }

    #canvas-toolbox {
        background-color: whitesmoke;
        position: absolute;
        bottom: 1vh;
        left: 1vw;

        .canvas-toolbox-button {
            background: transparent;
            cursor: pointer;
        }

        .canvas-toolbox-button:hover {
            color: orange;
        }
    }
}
